.EditableDescription {
  padding: 0.5em;
  background-color: #f6f6f6;
  border-radius: 4px;
}

.EditableDescription:hover {
  background-color: #efefef;
}

.EditableDescription-header {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.EditableDescription-content {
  color: #333;
  padding: 6px 0;
  margin: 0.5em 3em 0.5em 0;
}

.EditableDescription-textarea {
  width: 650px;
  height: 80px;
  font-size: 16px;
  padding: 6px 0 0 0;
  margin-block-end: 0.9em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}