.Dropdown-label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.Dropdown {
  min-width: 100px;
  background-color: #f6f6f6;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Dropdown:hover {
  background-color: #efefef;
}