.AddTodo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  width: 280px;
  height: 80px;
  background-color: #fff;
}

.AddTodo-input {
  width: 240px;
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.AddTodo-submit {
  width: 260px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.AddTodo-submit:hover {
  background-color: #3e8e41;
}